@import "tailwindcss";

@theme inline {
  /* Primary */
  --color-primary: #1876a5;

  /* Background */
  --color-background: #0f0f0f;
  --color-surface: #181818;
  --color-elevated: #272727;

  /* Text */
  --color-foreground: #ffffff;
  --color-subtle: #aaaaaa;

  /* Spacing */
  --spacing-header: 56px;
  --spacing-sidebar: 250px;
  --spacing-bottom-player: 88px;
  --spacing-scrollbar: 8px;

  /* Border Radius */
  --radius-none: 0px;
  --radius-md: 12px;
  --radius-lg: 16px;
  --radius-full: 1000px;

  /* Font Size */
  --text-xs: 12px;
  --text-sm: 14px;
  --text-base: 16px;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
}
