@import "tailwindcss";

@theme inline {
  /* Primary */
  --color-primary: #2e86c1;

  /* Background */
  --color-bg-main: #0a0a0a;
  --color-bg-surface: #181818;
  --color-bg-elevated: #272727;

  /* Text */
  --color-foreground: #ffffff;
  --color-subtle: #aaaaaa;

  /* Spacing */
  --spacing-header: 56px;
  --spacing-sidebar: 250px;
  --spacing-bottom-player: 88px;
  --spacing-scrollbar: 8px;

  /* Border Radius */
  --radius-none: 0px;
  --radius-md: 12px;
  --radius-lg: 16px;
  --radius-full: 1000px;

  /* Button Sizes */
  --button-height-sm: 30px;
  --button-height-md: 36px;
  --button-height-lg: 42px;

  /* Font Size */
  --text-xs: 12px;
  --text-sm: 14px;
  --text-base: 16px;

  /* Breakpoints */
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
}

body {
  background: var(--color-bg-main);
  color: var(--color-foreground);
}
