/* Player slider (range input) */
input[type='range'].player-slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: transparent;
  cursor: pointer;
}

input[type='range'].player-slider::-webkit-slider-runnable-track {
  height: 4px;
  border-radius: 2px;
}

input[type='range'].player-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: var(--color-text-main);
  margin-top: -4px;
  opacity: 0;
  transition: opacity 0.15s;
}

input[type='range'].player-slider:hover::-webkit-slider-thumb {
  opacity: 1;
}

input[type='range'].player-slider::-moz-range-track {
  height: 4px;
  border-radius: 2px;
}

input[type='range'].player-slider::-moz-range-thumb {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: var(--color-text-main);
  border: none;
  opacity: 0;
  transition: opacity 0.15s;
}

input[type='range'].player-slider:hover::-moz-range-thumb {
  opacity: 1;
}
